body {
    background-color: white;
}

body{
     font-family: Arial, Helvetica, sans-serif;
     margin : 0 ; 
     padding: 0 autos;
}


header {
    background-color: rgb(4, 4, 181);
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 0 0 15px;
    border-color:black ;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 20px 10px;
    font-weight: bold;  
    color: black;

}

.nav a:hover{
    display: inline-block;
    color: #c78c19;
    text-decoration: underline;

}
.texto p {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.texto h1 {
    font-size: 15px;
}

.texto img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 150px;
}

.texto h2 {
    font-size: 15px;
}